#para3 {
    color: blue;
}

* {
    font-family: monospace;
    font-size: large;
}

h1 {
    font-size: 50px;
}

#uppercase {
    text-transform: uppercase;
}


.one {
    background-color: aquamarine;
}

input[required] { /* attribute selector */
	border-color: blue;
    border-radius: 10%;
	width: 90%;
}

#others + ul {  /* adjacent sibling selector: The adjacent sibling selector is used to select an element that is directly after another specific element.*/
    list-style-type: none;  
    
}

#section1 ~ div { /* generic sibling selector: The general sibling selector selects all elements that are next siblings of a specified element.*/
    text-align: center;
    
} 

div #image {  /* descendant selector */
   height: 150px;
   width: 150px;
}

#section1>ul>li { /* child selector */
    letter-spacing: 1px;
}
